* {
 box-sizing: 
  border-box;
}

body {
font-family: 'Amatic SC', cursive; 
 margin: 0; 
 padding: 0;

} 

.topnav{

background: linear-gradient(to left top, #808080 24%,#ffffff 71%); 
height: 50px;
font-size: 25px;

}
/* Parallax */


.foto1, .foto2, .foto3 {

background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.foto1 {
background-image: url(foto1.jpg);
min-height: 80%;
height: 90vh;

}

.foto2 {
background-image: url(foto2.jpg);
min-height: 300px;
}

.foto3 {
background-image: url(foto3.jpg);
min-height: 500px;

}

/* Parallax off */

h1{
  font-size: 4rem;
  text-align: center;
  margin: 0;
  color: #ffffff;
}

.container-info {
background-color: #f5daab;
background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
-webkit-box-shadow: 6px -1px 91px 46px rgba(0,0,0,0.64);
-moz-box-shadow: 6px -1px 91px 46px rgba(0,0,0,0.64);
box-shadow: 6px -1px 91px 46px rgba(0,0,0,0.64);
padding-top: 2%;
padding-bottom: 2%;

}
.container-info2 {
-webkit-box-shadow: 6px -1px 91px 46px rgba(0,0,0,0.64);
-moz-box-shadow: 6px -1px 91px 46px rgba(0,0,0,0.64);
box-shadow: 6px -1px 91px 46px rgba(0,0,0,0.64);
background-color: #878a85;
background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
padding-top: 2%;
padding-bottom: 2%;
}

p {
  font-size: 1.3rem;
  margin-right: 15%;
  margin-left: 15%;

}

.display-container
{position:relative;
opacity:0.75;}

.display-middle
{position:absolute;top:50%;left:50%;}
.hide-small{display:none!important;}
.wide{letter-spacing:4px;
color:#fff!important;}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: left;
    display: block;
    text-align: center;
    padding: 3px;
  }
}
footer{

background: linear-gradient(to left top, #808080 24%,#ffffff 71%); 
margin: auto;
padding-top: 10px;
height: 40px;


}
footer p{
	margin-top: 0px;
	text-align: center;
	margin-bottom: 0px;
	

}
